/*styles for the ChattyApp html page*/

body {
      /*work in progress
      background-image: url(../images/background.png);
      background-repeat: no-repeat;*/
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

/*bottom container for writing message*/
    .chatbar {
      background: #006666;
      border-top: 1px solid black;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

/*styles for the username and message content*/
    .chatbar-message,
    .chatbar-username {
      border: 1px solid black;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
    }

    .chatbar-username {
      flex: 2;
      font-weight: 700;
    }

/* style for the class message containing messages, notifications, or images
alongside their senders*/
    .message {
      display: flex;
      padding: 5px;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username,
    .message-image,
    .notification-content {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-content {
      flex: 8;
    }

    .message-image {
      flex: 20;
      padding: 0 0 0 126px;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
    }

    .notification-content{
      flex: 8;
    }

/*style for navbar section at the top of the page */
    .navbar {
      background: #2eb8b8;
      border-bottom: 1px solid black;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
    }

/*style for the app logo*/
    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

/*style for the span element dispalying the number of connected users*/
    .navbar-users {
      color: black;
      display:block;
      float:right;
      padding: 22px 10px 0 0;
    }